<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
        <setting label="Login Settings" type="lsep"/>
        <setting label="Username/Email" type="text" id="username" default=""/>
        <setting label="Password" type="text" id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting label="M3U Directory" type="folder" id="folder" source="auto" option="writeable"/>
        <setting label="Enable M3U Creation Message" type="bool" id="notification" default="true"/>
        <setting label="Enable WOW Entertainment Package" type="bool" id="e" default="false"/>
        <setting label="Enable WOW Sports Package" type="bool" id="s" default="false"/>
        <setting label="Enable DAZN Channels" type="bool" id="d" default="false"/>
    </category>
</settings>